{
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost,1433;Database=splitwise_dev;User Id=sa;Password=YOUR_DB_PASSWORD;TrustServerCertificate=True"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "Jwt": {
    "Issuer": "back-api-splitwise",
    "Audience": "back-api-splitwise-client",
    "SecretKey": "YOUR_JWT_SECRET_MIN_32_CHARS"
  }
}
